body{ 
    background-color: #FFFAF0	;
    font-family: 'Georgia', Monospace ;
    text-align: center;
}

img {
    border-radius: 10%; /*arredonda a foto*/
}

h1 {
    font-size: 3rem; 
    color: #634200;
}

h2{
    font-size: 25px; 
    color: #634200;
}

a{
    font-size: 15px; 
    color: #b39200;
}